<div style="display: flex;">
    <div style="background-color: orange; padding: 10px 30px; border: 1px black solid; margin-right: 20px;">
        <a href="/" style="text-decoration: none; color: black;">Home</a>
    </div>
    <div style="background-color: orange; padding: 10px 30px; border: 1px black solid; margin-right: 20px;">
        <a href="../auth/login" style="text-decoration: none; color: black;">Login</a>
    </div>
    <div style="background-color: orange; padding: 10px 30px; border: 1px black solid; margin-right: 20px;">
        <a href="../auth/signup" style="text-decoration: none; color: black;">Create an Account</a>
    </div>
    <div>
        <form id="logout-form" action="/auth/logout" method="POST">
            <button type="submit" style="background-color: red; padding: 10px 30px; border: 1px black solid; margin-right: 20px;">Logout</button>
        </form>
    </div>
</div>