<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div>
    <div><a href="auth/signup">Create an Account</a></div>
    <div><a href="auth/login">Login</a></div>
    <br><br>
    <div><a href="public/funnyCat">Click here for a funny cat!</a></div>
</div>