<form action="/signup" method="POST" style="display: flex; flex-direction: column; align-items: center">
    <label>Username: <input type="text" name="username"/></label>
    <label>Password: <input type="password" name="password"/></label>
    <button type="submit">Create Account</button>
    <div id="error" style="color: red; font-weight: bold;"><%=error%></div>
</form>
